<div class="space-y-4" data-testid="notes-section">
  <%# Form to add new note %>
  <div class="bg-gray-50 rounded-lg p-4">
    <%= render "notes/form", notable: notable, note: Note.new(notable: notable) %>
  </div>

  <%# List of notes %>
  <div id="notes-list" class="bg-white rounded-lg border border-gray-200">
    <%= render(notes) || render("notes/empty") %>
  </div>
</div>
