<div class="space-y-4">
  <%# Form to add new representation %>
  <div class="bg-gray-50 rounded-lg p-4">
    <h4 class="text-sm font-medium text-gray-700 mb-3">
      Add <%= parent.is_a?(Author) ? "Agent" : "Author" %>
    </h4>
    <%= render "representations/form", parent: parent, representation: representation || parent.representations.build %>
  </div>

  <%# List of representations %>
  <div id="<%= parent.is_a?(Author) ? 'author-representations' : 'agent-representations' %>" class="bg-white rounded-lg border border-gray-200">
    <%= render(partial: "representations/representation", collection: representations, as: :representation, locals: { parent: parent }) || render("representations/empty", parent: parent) %>
  </div>
</div>
